.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 70px;
  z-index: 1;
}
