.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
  z-index: 2;
}
