.header__title {
  align-self: center;
  width: 730px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}
