.feynman__link {
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
}
